@import "../styled/variables";

.#{$prefix}btn {
  box-sizing: border-box;
  position: relative;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  gap: var(--btn-gap, $gap-md);
  color: var(--btn-text-color, $text-color);
  height: var(--btn-height, $height-md * 2);
  padding-inline: var(--btn-padding-inline, $padding-md);
  border-radius: var(--btn-border-radius, $border-radius-md);
  background-color: var(--btn-bg-color, $background-default-color);

  &-primary {
    background-color: var(--primary-color, $primary-color);
    color: var(--btn-primary-text-color, $white);
    border-color: var(--primary-color, $primary-color);
    .#{$prefix}btn {
      &-loading,&-icon{
        color: var(--btn-primary-text-color, $white);
      }
      &-primary {
        color: var(--primary-color, $primary-color);
      }
    }
  }

  &-text {
    background-color: transparent;
    &.#{$prefix}btn
  }

  &-outlined {
    background-color: transparent;
    border-style: var(--btn-border-style, solid);
    border-width: var(--btn-border-width, $border-width-base);
    border-color: var(--btn-border-color, $background-default-color);
    &.#{$prefix}btn-primary {
      color: var(--primary-color, $primary-color);
      border-color: var(--primary-color, $primary-color);
    }
  }

  &-large {
    height: var(--btn-height-lg, $height-lg * 2);
    font-size: var(--btn-font-size-lg, $font-size-lg);
    padding-inline: var(--btn-padding-inline-lg, $padding-lg);
  }

  &-small {
    height: var(--btn-height-sm, $height-sm * 2);
    font-size: var(--btn-font-size-sm, $font-size-sm);
    padding-inline: var(--btn-padding-inline-sm, $padding-sm);
  }

  &-tiny {
    height: var(--btn-height-xs, $height-xs * 2);
    font-size: var(--btn-font-size-xs, $font-size-xs);
    padding-inline: var(--btn-padding-inline-xs, $padding-xs);
  }

  &-round {
    border-radius: var(--btn-round-border-radius, $border-radius-max);
  }

  &-disabled {
    cursor: not-allowed;
    opacity: var(--btn-disabled-opacity, $disabled-opacity);
  }

  &-block {
    width: 100%;
  }

  &-content {
    font-size: var(--btn-font-size, $font-size-md);
    font-weight: var(--btn-font-weight, $font-weight-bold);
  }
  &-loading,&-icon {
    width: var(--btn-loading-size, var(--font-size-md, $font-size-md * 1.2));
    height: var(--btn-loading-size, var(--font-size-md, $font-size-md* 1.2) );
    color: var(--btn-loading-color, $text-color);
  }

  &-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
}
