$prefix: 'z-';

// Color Palette
$black: #000;
$black-rgb: 0, 0, 0;
$white: #fff;

$gray-1: #fafafa;
$gray-2: #f5f5f5;
$gray-3: #f0f0f0;
$gray-4: #d9d9d9;
$gray-5: #bfbfbf;
$gray-6: #8c8c8c;
$gray-7: #595959;
$gray-8: #434343;
$gray-9: #262626;
$gray-10: #1f1f1f;
$gray-11: #141414;

$primary: #1989fa;

// Base Unit
$hd: 2 !default;

// Component Colors
$primary-color: $primary;

$text-color: $gray-10;
$text-color-2: $gray-9;
$text-color-3: $gray-8;
$text-color-4: $gray-6;

$active-color: $gray-4;
$active-opacity: 0.6;
$disabled-opacity: 0.5;

$background-color: $gray-1;
$background-default-color: $gray-4;
$background-color-dark: $gray-11;
$background-color-light: $white;
$text-link-color: #40a9ff;

// Padding
$padding-base: 6px * $hd;
$padding-xs: $padding-base * 2;
$padding-sm: $padding-base * 3;
$padding-md: $padding-base * 4;
$padding-lg: $padding-base * 6;

// Height
$height-xs: 16px * $hd;
$height-sm: 18px * $hd;
$height-md: 20px * $hd;
$height-lg: 22px * $hd;

// Font
$font-size-xs: 10px * $hd;
$font-size-sm: 12px * $hd;
$font-size-md: 14px * $hd;
$font-size-lg: 16px * $hd;

// Line Height
$line-height-xs: 14px * $hd;
$line-height-sm: 18px * $hd;
$line-height-md: 20px * $hd;
$line-height-lg: 22px * $hd;

// gap
$gap-xs: 2px * $hd;
$gap-sm: 4px * $hd;
$gap-md: 6px * $hd;
$gap-lg: 8px * $hd;

$font-weight-bold: 600;

$base-font-family:
  -apple-system,
  blinkmacsystemfont,
  'Helvetica Neue',
  helvetica,
  segoe ui,
  arial,
  roboto,
  'PingFang SC',
  'miui',
  'Hiragino Sans GB',
  'Microsoft Yahei',
  sans-serif;

$price-integer-font-family:
  avenir-heavy,
  pingfang sc,
  helvetica neue,
  arial,
  sans-serif;

// Animation
$animation-duration-base: 0.3s;
$animation-duration-fast: 0.2s;
$animation-duration-time: 0.8s;
$animation-timing-function-enter: ease-out;
$animation-timing-function-exit: ease-in;

// Border
$border-color: $gray-2;

$border-width-base: 1px * $hd;

$border-radius-sm: 2px * $hd;
$border-radius-md: 4px * $hd;
$border-radius-lg: 8px * $hd;
$border-radius-max: 999px;
