@import '../styled/variables';

.#{$prefix}loading {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--loading-color, $text-color-4);

  &-spinner,
  &-circular {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    width: var(--loading-size, $height-md);
    height: var(--loading-size, $height-md);
    max-height: 100%;
  }

  &-spinner {
    animation: #{$prefix}rotate
      var(--loading-animation-duration, $animation-duration-time) steps(12)
      infinite;

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::before {
        display: block;
        width: 2px * $hd;
        height: 25%;
        margin: 0 auto;
        content: ' ';
        background-color: currentColor;
        border-radius: 40%;
      }

      // Generate 12 item
      @for $i from 1 through 12 {
        &:nth-of-type(#{$i}) {
          opacity: 1 - calc(0.75 / 12) * ($i - 1);
          transform: rotate($i * 30deg);
        }
      }
    }
  }

  &-circular {
    border: var(--loading-circular-width, $border-width-base * 2) solid
      transparent;
    border-top-color: currentColor;
    border-radius: 100%;
    animation: #{$prefix}rotate 0.8s linear infinite;
  }

  &-text {
    margin-left: var(--loading-, $padding-md);
    font-size: var(--loading-font-size, $font-size-md);
    line-height: var(--loading-line-height, $line-height-md);
    color: var(--loading-text-color, $text-color-4);

    &:empty {
      display: none;
    }
  }

  &-horizontal {
    flex-direction: column;
    .#{$prefix}loading-text {
      margin: var(--loading-text-margin, $gap-md) 0 0;
    }
  }
}
