.zing-icon{
  display: inline-block;
  mask-image: var(--icon-url);
  -webkit-mask-image: var(--icon-url);
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
